<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="item in pf.items">
	<div class="portfolio-item">
		<img class="portfolio-item-img img-responsive b-lazy" tm-lazy-load img="{{item.thumb}}" src="assets/img/placeholder.png" alt="{{item.title}}">
		<div class="portfolio-item-info text-center">
			<h3 class="portfolio-item-title" ng-bind="item.title"></h3>
			<p class="portfolio-item-description hidden-xs" ng-bind="item.description"></p>
			<p class="portfolio-item-description portfolio-item-tech" ng-bind="item.tech"></p>

			<div class="portfolio-item-more-info">
				<!-- <a ng-href="{{item.src}}" title="View more info">
					<i class="fa fa-search portfolio-item-icon"></i>
				</a> -->
				<a ng-href="{{item.url}}" target="_blank" title="Visit website">
					<i class="fa fa-globe portfolio-item-icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>